
<div class="col-lg-4">
    <div class="img-container">
        <a href="{{html-file}}" class="portfolio-box">
            <img src="img/portfolio/{{img-src}}" class="img-responsive" alt="{{alt-text}}">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        {{project-description}}
                    </div>
                    <div class="project-name">
                        {{project-context}}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

